{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block content %}
  				<!-- END: Left Aside -->
				  <div class="m-grid__item m-grid__item--fluid m-wrapper">

					<!-- BEGIN: Subheader --
					<div class="m-subheader ">
						<div class="d-flex align-items-center">
							<div class="mr-auto">
								<h3 class="m-subheader__title ">Create Project</h3>
				</div>
						</div>
					</div>

					 END: Subheader -->
					<div class="m-content">
						<div class="row">
							<div class="col-lg-12">

								<!--begin::Portlet-->
								<div class="m-portlet">
									<div class="m-portlet__head">
										<div class="m-portlet__head-caption">
											<div class="m-portlet__head-title">
												<span class="m-portlet__head-icon m--hide">
													<i class="la la-gear"></i>
												</span>
												<h3 class="m-portlet__head-text">
													Create Project
												</h3>
											</div>
										</div>
									</div>

									<!--begin::Form-->
									<form class="m-form" method="POST" enctype="multipart/form-data" id="projectForm">
                                        {% csrf_token%}
										<div class="m-portlet__body">
											<div class="m-form__section m-form__section--first">
												<div class="form-group m-form__group">
													<label for="example_input_full_name">Project Name:</label>
                                                    <!-- <input name="user" class="form-control m-input" value="{{request.user}}" type="hidden"> -->

													{{ form.name|add_class:"form-control m-input"|attr:"placeholder:Enter Project name"|attr:"id:pname"|attr:"type:text" }}
												</div>
												<div class="form-group m-form__group">
													<label>Project Description:</label>
                                                    <!-- <input type="text" class="form-control m-input" placeholder="Enter Project Discription"> -->
                                                    {{ form.description|add_class:"form-control m-input"|attr:"placeholder:Enter Project Discription"|attr:"id:description"|attr:"type:text" }}
												</div>
												<div class="form-group m-form__group">
													<label for="example_input_full_name">Key Value:</label>
                                                    <!-- <input type="text" class="form-control m-input" placeholder="Enter Key Value"> -->
                                                    {{ form.key|add_class:"form-control m-input"|attr:"placeholder:Enter Key Value"|attr:"id:key"|attr:"type:text" }}
												</div>
												<div class="form-group m-form__group">
												<label for="exampleInputEmail1">File Browser</label>
												<div></div>
												<div class="custom-file col-md-4">
                                                    <!-- <input type="file" class="custom-file-input" id="customFile"> -->
                                                    {{ form.document|add_class:"form-control m-input"|attr:"id:customFile"|attr:"type:file" }}
													<label class="custom-file-label" for="customFile">Choose file</label>
												</div>
											</div>
											</div>
										</div>
										<div class="m-portlet__foot m-portlet__foot--fit">
											<div class="m-form__actions m-form__actions">
												<input type="submit" class="btn btn-primary" value="submit">
											</div>
										</div>
									</form>

									<!--end::Form-->
								</div>

								<!--end::Portlet-->
							</div>
							
						</div>
					</div>
					
				</div>
			</div>

			<!-- end:: Body -->
{% endblock %}


{% block extrajs %}
<script
src="https://code.jquery.com/jquery-3.4.1.min.js"
integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
crossorigin="anonymous"></script>

<script type="text/javascript">
	document.getElementById('customFile').addEventListener('change',function(){
		//get the file name
		var fileName = this.value;
		//replace the "Choose a file" label
		document.querySelector('.custom-file-label').innerHTML = fileName.replace('C:\\fakepath\\', " ");
	})
</script>

<script>
	function upload(event) {
		event.preventDefault();
		var data = new FormData($('.m-form').get(0));
		
		$.ajax({
			url: "/projects/create/",
			type: "POST",
			data: data,
			cache: false,
			processData: false,
			contentType: false,
			success: function(data) {
				console.log(data);
				document.getElementsByClassName("m-form")[0].reset();
				document.querySelector('.custom-file-label').innerHTML = "Choose File";
				alert('success');
			}
		});
		return false;
	}
		
		$(function() {
			$('.m-form').submit(upload);
		});
</script>
  {% endblock %}
