{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %} | My Projects{% endblock %}
{% block content %}

				<!-- END: Left Aside -->
				<div class="m-grid__item m-grid__item--fluid m-wrapper">
                    {% if querysets %}
					<!-- BEGIN: Subheader --
					<div class="m-subheader ">
						<div class="d-flex align-items-center">
							<div class="mr-auto">
								<h3 class="m-subheader__title ">Create Project</h3>
							</div>
						</div>
					</div>

					END: Subheader -->
					<div class="m-content">
						
						<div class="m-portlet m-portlet--mobile">
							<div class="m-portlet__head">
								<div class="m-portlet__head-caption">
									<div class="m-portlet__head-title">
										<h3 class="m-portlet__head-text">
											View Project
										</h3>
									</div>
								</div>
								
							</div>
							<div class="m-portlet__body">

								<!--begin: Datatable -->
								<table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
									<thead>
										<tr>
											<th>Project Name</th>
											<th>Project Discription</th>
											<th>Manage</th>
											
										</tr>
									</thead>
									<tbody>
                                        {% for  queryset in querysets%}
										<tr>
                                            <td>{{ queryset.name}}</td>
                                            <td>{{ queryset.description}}</td>
                                            <td><a href="{% url 'projectchart' queryset.id %}" class="m-menu__link"><button type="reset" class="btn btn-primary">Manage</button></a></td>
											
                                        </tr>
                                        {% endfor %}
										
									</tbody>
								</table>
							</div>
						</div>

						<!-- END EXAMPLE TABLE PORTLET-->
					</div>
					
                </div>
                {% endif %}
			</div>

			<!-- end:: Body -->
{% endblock%}
		