{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block content %}
  

				<!-- END: Left Aside -->
				<div class="m-grid__item m-grid__item--fluid m-wrapper">

					<!-- BEGIN: Subheader --
					<div class="m-subheader ">
						<div class="d-flex align-items-center">
							<div class="mr-auto">
								<h3 class="m-subheader__title ">Create Project</h3>
							</div>
						</div>
					</div>

					<!-- END: Subheader -->
                    {% if project%}
					<div class="m-content">
						<div class="row">
							
							<div class="col-xl-12">

								<!--begin::Portlet-->
								<div class="m-portlet m-portlet--tabs m-portlet--success m-portlet--head-solid-bg m-portlet--head-sm">
									<div class="m-portlet__head">
										<div class="m-portlet__head-caption">
											<div class="m-portlet__head-title">
												<h3 class="m-portlet__head-text">
													Manage Project
												</h3>
											</div>
                                        </div>
                                        
										<div class="m-portlet__head-tools">
											<ul class="nav nav-tabs m-tabs m-tabs-line  m-tabs-line--right" role="tablist">
												<li class="nav-item m-tabs__item">
													<a class="nav-link m-tabs__link" href="{% url 'projectchart' project.id %}">
														Tab 1
													</a>
												</li>
												<li class="nav-item m-tabs__item">
													<a class="nav-link m-tabs__link active" href="{% url 'projectdetail' project.id %}" >
														Tab 2
													</a>
												</li>
												
											</ul>
										</div>
                                    </div>
                                    
									<div class="m-portlet__body" style="min-height: 300px;">
										<div class="tab-content">
											<div class="tab-pane active" id="m_tabs_7_1" role="tabpanel">
                                                <p>Project Detail</p>
                                                <p>{{ project.name}}</p>
											</div>
										
											
										</div>
                                    </div>
                                
								</div>

								<!--end::Portlet-->

								
								

								<!--end::Portlet-->

								<!--begin::Portlet-->
								

								<!--end::Portlet-->
							</div>
						</div>
					</div>
					{% endif %}
				</div>
			</div>

			<!-- end:: Body -->
{% endblock %}

	